<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kabob</title>
  </head>
  <body>
    <header>
      <h1>Eat Kabob!</h1>
    </header>
    <p>Jeremy, you should try Kabob, if you haven't had it already, trust me its so good.</p>
  </body>

  <a href="/">Home</a>
</html>
