<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Searching</title>
  </head>
  <body>
    <header>
      <h1>Your Search Results: "<%= SearchTerm %>"</h1>
    </header>

    <% if (results.length === 0) { %>
      <p>No articles found.</p>
    <% } else { %>
      <ul>
        <% results.forEach(article => { %>
          <%
          // counting how many times search appear in content
           let searchMention = 0;
           let content = article.contents.toLowerCase();
           let term = SearchTerm.toLowerCase();
           let position = 0;

           while ((position = content.indexOf(term, position)) !== -1) {
            searchMention++,
            position += term.length;
           }
           %>

          <li>
            <a href="/article/<%= article.code_name %>"><%= article.name %></a> - <%= searchMention %> mention(s)
          </li>
        <% }); %>
      </ul>
    <% } %>

    <a href="/">Back to Home</a>
  </body>
</html>
