<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Strawberry</title>
  </head>
  <body>
    <header>
      <h1>I Also love Strawberry</h1>
    </header>
    <p>Probably my 2nd fav fruit</p>
  </body>

  <a href="/">Home</a>
</html>
